{% extends "base_template.html" %}

{% block title %}
{{page_name}}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-2">
    <a href="{% url 'wallpapers_main:category' category='all' %}" class="btn btn-primary">Все</a>
    {% for category in all_category %}
        <a href="{% url 'wallpapers_main:category' category.category_link_name %}" class="btn btn-primary">{{category.category_name}}</a>
    {% endfor %}
  </div>
  <div class="col-10">
    <div class="row">
      {% for image in images %}
      <div class="col-3">
        {% if not image %} Картинки не найдены {% endif %}
        <a href="{% url 'wallpapers_main:image_page' image.name %}">
          <img src="{{image.source}}" class="img-thumbnail">
        </a>
      </div>
      {% endfor %}
      <div name="nav_page" class="col-12">
      </div>
    </div>
    <div name="page_nav" class="col-12">
        {% if images.has_previous %}
            <a href="{% url 'wallpapers_main:category_page' current_category images.previous_page_number %}">Назад</a>
        {% endif %}
            {{ images.number }}
        {% if images.has_next %}
            <a href="{% url 'wallpapers_main:category_page' current_category images.next_page_number %}">Вперед</a>
        {% endif %}
    </div>
  </div>
</div>
{% endblock%}
